
{% extends "layout.twig" %}

{% block content %}
{% if result %}
  <div class="alert alert-danger">Post Deleted</div>
{% endif %}
<a class="btn btn-primary" href="{{'admin/posts/create' | url }}">New post</a>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  {% for blogPost in blogPosts %}
      <tr>
        <td> {{ blogPost.title }} </td>
        <td><a href="{{'admin/posts/edit/' | url}}{{ blogPost.id }}">Edit</a></td>
        <td><a href="{{'admin/posts/delete/' | url}}{{ blogPost.id }}">Delete</a></td>
      </tr>
  {% endfor %}
 </table>
{% endblock %}
